<p>employee-list works!</p>
<div class="container">
    <h1>Employee List</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>EmpId</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Salary</th>
                <th>Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.code | uppercase }}</td>
                <td>{{ employee.name | empTitle: employee.gender}}</td>
                <td>{{ employee.gender }}</td>
                <td>{{ employee.salary | currency: 'INR'}}</td>
                <td>{{ employee.dateOfBirth | date: 'fullDate' }}</td>
            </tr>
        </tbody>
    </table>

</div>