<div class="container">

    <div class="row">
        <div class="col-lg-6">
            <img src="https://dynamic.brandcrowd.com/asset/logo/303e75cc-d38a-4f94-92fd-4be6c8a694f3/logo?v=4" width="150" alt="">
        </div>
        <div class="col-lg-6 text-right">
            <div style="margin-top: 40px;">
            <span class="cart">
                <i class="fas fa-shopping-cart"></i>
                Cart Empty
            </span>
          <span class="user">
            <i class="fas fa-user-friends"></i>
            Login
          </span>
            </div>
        </div>
    </div>

</div>